.form-field{
display: flex !important;
border: 1px solid;
flex-direction: column;
justify-content: center;
align-items: center;
/* height: 100vh; */
/* max-width: 500px; */
width: 100%;
margin: auto;
padding-right: 1px;
}
.main-head {
    background:brown;
    padding: 5%;
    width: auto;
}
*{
    margin-right: 1%;
}
