

.Table{
   padding-right: 70px;
   margin: 10px;
 
}
/* .dropdown{
   width: 120px;
   margin: 10% auto;
   height: 1rem;
   padding-right: 100px;
}
.dropdown-btn{
   width: 20rem;
   text-align: center;
   color: black;
   background: lightgrey;
   position: relative;
  
} */
.button{
   margin-left: 510px;
   width: 2%;
}
